<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1275905223-ej62pu57nivrl68do6aq5udf2j3s42bv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1275905223-ej62pu57nivrl68do6aq5udf2j3s42bv</string>
	<key>API_KEY</key>
	<string>AIzaSyDXqqmEn7AcT2U6I5cMaMruLzeE5yvpiFU</string>
	<key>GCM_SENDER_ID</key>
	<string>1275905223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pascu.EventHub</string>
	<key>PROJECT_ID</key>
	<string>internship-app-b7b59</string>
	<key>STORAGE_BUCKET</key>
	<string>internship-app-b7b59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1275905223:ios:9471000e3e0c5bffddeae2</string>
</dict>
</plist>